@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body, #root{
  display: grid;

  height: 100%;
  width: 100%;

  margin: 0;

  background: #333;

  & header, main, footer{
    display: grid;
    justify-content: center;
    text-align: center;
  }
}


/*-- Fontes de Texto --*/

* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6{
  font-size: 3rem;
  color: white;
}

p{
  font-size: 1.5rem;
  color: silver;
}

a{
  font-size: 1.5rem;
  text-decoration: underline;
  color: red;
}


/*-- Divs --*/
header, footer{
  max-height: 5rem;
  background: #222;
}